ion-header {
    padding: 10px 10px;
    background: #84ca36;

    ion-title {
        font-size: 18px;
        color: #fff;
    }

    ion-col {
        color: #fff;
        font-size: 28px;
    }
}

ion-content {
    .hospitalization-radio {
        margin-bottom: 15px;

        ion-label {
            margin-bottom: 10px;
            display: block;
        }

        ion-radio-group {
            display: flex;

            .radio-custom {
                margin-right: 20px;
            }
        }

    }

    ion-radio {
        --border-radius: 50px;
        --inner-border-radius: 50px;
        --color: #ddd;
        --color-checked: #84CA36;
        margin-right: 10px;
    }

    ion-radio-group {
        .radio-custom {
            display: flex;
            margin-bottom: 8px;
        }
    }

    ion-button {
        --background: #84ca36;
        opacity: 1;
        --box-shadow: none;
        height: 34px;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
        --padding: 8px 16px;
        font-family: "Inter" !important;
        letter-spacing: normal;
        --padding-start: 0;
        --padding-end: 0;
        --border: solid 1px #84ca36;
        --border-radius: 5px;
    }
    .error{
        color: red;
    }
}